NODE_ENV=""
PORT=""

# BrightData Proxy Configuration
BRIGHTDATA_PROXY_HOST=""
BRIGHTDATA_PROXY_PORT=""
BRIGHTDATA_PROXY_USERNAME=""
BRIGHTDATA_PROXY_PASSWORD=""


# MongoDB Configuration
MONGO_URI=""